@mixin whitelink {
  &:visited,
  &:link {
    color: #ffffff;
  }
}
@mixin bluelink {
  &:visited,
  &:link {
    color: #4c2c92;
  }
}
.opg-tag-list {
  .opg-tag {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;

    &--not-owned {
      @include whitelink;
      &:before {
        content: "\2718";
        color: #d4351c;
      }
    }

    &--owner {
      @include whitelink;
    }

    &--co-owner {
      @include whitelink;
      background-color: #6f72af;
    }
  }

  .govuk-tag {
    &--grey {
      @include bluelink;
    }
  }
}
