@import "govuk_tech_docs";
@import "_opg-tag-list.css.scss";

.opg-warning {
  padding: 0.5rem;
  border: 5px solid #d4351c;
}

.opg-team {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid;
}


table.dataframe thead th{
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

ol > li > ol {
  list-style-type: lower-alpha;
}

ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

blockquote > p:first-child {
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}
