name: Publish Docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:

jobs:

    build_and_publish:
      name: Build and Publish
      runs-on: ubuntu-latest
      steps:
      - name: "Checkout"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      ############
      # Build steps
      ############
      - name: "Git config"
        run: |
          git config --global user.email "tools@digital.justice.gov.uk"
          git config --global user.name "Github Action"
      - name: "Build and move output"
        run: |
          make build
          mv ./docs ../
      - name: "Checkout to gh-pages and clean untracked files"
        run: |
          git checkout -f gh-pages
          git clean -fd
      ############
      # Copy over the generated ./docs folder
      ############
      - name: "Move built files over"
        run : |
          echo -e "===="
          echo -e "Current:"
          ls -lartR ./docs/

          cp -rf ../docs/* ./docs/

          echo -e "===="
          echo -e "After:"
          ls -lart ./
          ls -lartR ./docs/
      - name: "Add version and CNAME file"
        run: |
          echo "${GITHUB_SHA}" > ./docs/version.txt
          echo 'docs.opg.service.justice.gov.uk' > ./docs/CNAME
          touch ./docs/.gitkeep
          git status
      - name: "Git commit"
        run: |
          git add ./docs
          git status
          git commit --allow-empty -m "Published at $(date)"
      - name: "Push"
        if: github.ref == 'refs/heads/main'
        run: |
          git push origin gh-pages --force
